.search{
    margin-left: 30px;
    margin-top: 30px;
}
.food-container{
    margin-left: 30px;
    margin-bottom: 200px;
    display: flex;
    flex-wrap: wrap;
}
.top-restaurant-container{
    display: flex;
}
.top-restaurant-container.active{
    position: absolute;
    transform: translateX(-50%);
    cursor: pointer;
}
/* .top-btn:hover{
    position: absolute;
    transform: translateX(-50%);
    cursor: pointer;
  } */
.filter-btn{
    margin-left: 10px;
}
.star-logo{
    height: 25px;
    width: 25px;
    color: #1b903d;
}
.star-rating{
    display: flex;

}
.avg-rating{
    margin-top: 4px;
}
.card-text{
    margin-left: 10px;
}
.shimmer-container{
    margin-left: 30px;
    margin-bottom: 500px;
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    margin-top: 30px;
    height: 500px;
    width: 284px;
    margin-right: 30px;
    background-color: #f0f0f0;
}
.res-img{
    height: 273px;
    width: 284px;
    border-radius: 30px;
}
.res-img:hover{
    height: 250px;
    width: 260px;
    transition: 0.4s ease;
}
.carousel-card{
    cursor: pointer;
    margin-top: 30px;
    height: 350px;
    width: 180px;

}
.carousel-res-img{
    height: 200px;
    width: 200px;
    border-radius: 50%;

}
.food-card{
    cursor: pointer;
    margin-top: 30px;
    height: fit-content;
    width: 284px;
    margin-right: 30px;
    
    /* border: 1px solid black; */
   
}

